{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Welcome to the BRITE lab.
{% endblock %}

{% block content %}
<p>
In this lab session, you will play two games with 10 rounds for each game. There is a specific rule for each game, and your payoff depends on your decision in the games. Read the instruction for each game carefully.
</p>

<p>
Please remain quiet for the entire session. If you have any problem playing the games, raise your hand and you will get assistance.
</p>
<p></p>
    {% next_button %}
{% endblock %}

