{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Contribute
{% endblock %}

{% block content %}

	<p>
		The cost of the gadget is <strong>{{ Constants.cost }}</strong>.
	</p>


    <p>
        The gadget's value to you is <strong>{{ player.private_value }}</strong>.
		
    </p>
	
<table class="table-bordered" style="width:500px; margin-top:20px;">
        
		<tr><td align="center">Report</td>
			<td align="center">Private value the report means</td></tr>
		<tr><td align="center">Low</td>
			<td align="center">29</td></tr>
		<tr><td align="center">Median</td>
			<td align="center">45</td></tr>
		<tr><td align="center">High</td>
			<td align="center">90</td></tr>

	</table>
	<p>
		The gadget is purchased if the sum of the reported value is greater or equal to 104.
	</p>
	<p>
	</p>	
    {% formfield player.contribution with label="What value type do you want to tell the group ?"%}

    {% next_button %}

	{% include 'optimal_cost_sharing/Instruction.html' %}

{% endblock %}
