<div class="box effect7">
    <h4>Instructions</h4>
    <p>
        In this study, you will be in a randomly formed group of {{ Constants.players_per_group }} participants. Your group must decide whether or not to purchase a fictitious good, called a gadget, and exactly which members of your group are allowed to use the gadget. 
    </p>
    <p>
        For your group to purchase a gadget, your group must pay a total of {{ Constants.cost }}. 
    </p>
    <p>  
        Before making any decision, you will learn the user value of the gadget to you. The value of the gadget may differ from participant to participant and is randomly and independently drawn from {{ Constants.valuation }} for each participant. Notice that no one else in your group knows your user value and you do not know the user value of anyone else in your group.
    </p>
    <p>    
        To determine whether your group buys the gadget, every member of the group will simultaneously submit a message. Every participant must choose to report to the group his/her user value: "Low", "Median, or "High". Submitting "Low" means that you choose to tell the group your user value being 29, submitting "Median" means that you choose to tell the group your user value being 45, and submitting "High" means that you choose to tell the group your user value being 90. You are free to submit any of these three messages. 
    </p>
    <p>
    	The messages are used to determine whether your group buys the gadget and which members are users. If the sum of the reported user values is less than 104, the gadget is not purchased and everyone gets (and pays) nothing. If the sum of the reported user values is greater than or equal to 104, the gadget is purchased and each member gets his/her own user value while pays a portion of the cost depending on each group member's report. The following table summarizes the possible payment scheme. 
    </p>
    
    <table class="table-bordered" style="width:800px; margin-top:20px;">
    	<tr><td align="center">Your report</td>
    		<td align="center">Other members' reports</td>
    		<td align="center">Is the gadget purchased ?</td>
    		<td align="center">Your payment</td>
    	</tr>
    	<tr><td align="center" rowspan="6"> Low </td>
    		<td align="center"> Low, Low </td>
    		<td align="center"> No </td><td align="center"> {{Constants.t_L_LL}} </td></tr>
    	<tr>
    		<td align="center"> Low, Median </td>
    		<td align="center"> No </td><td align="center"> {{Constants.t_L_LM}} </td></tr>
    	<tr>
    		<td align="center"> Low, High </td>
    		<td align="center"> Yes </td><td align="center"> {{Constants.t_L_LH}} </td></tr>
    	<tr>
    		<td align="center"> Median, Median </td>
    		<td align="center"> Yes </td><td align="center"> {{Constants.t_L_MM}} </td></tr>
    	<tr>
    		<td align="center"> Median, High </td>
    		<td align="center"> Yes </td><td align="center"> {{Constants.t_L_MH}} </td></tr>
    	<tr>
    		<td align="center"> High, High </td>
    		<td align="center"> Yes </td><td align="center"> {{Constants.t_L_HH}} </td></tr>
    		
    	<tr><td align="center" rowspan="6"> Median </td>
    		<td align="center"> Low, Low </td>
    		<td align="center"> No </td><td align="center"> {{Constants.t_M_LL}} </td></tr>
    	<tr>
    		<td align="center"> Low, Median </td>
    		<td align="center"> Yes </td><td align="center"> {{Constants.t_M_LM}} </td></tr>
    	<tr>
    		<td align="center"> Low, High </td>
    		<td align="center"> Yes </td><td align="center"> {{Constants.t_M_LH}} </td></tr>
    	<tr>
    		<td align="center"> Median, Median </td>
    		<td align="center"> Yes </td><td align="center"> {{Constants.t_M_MM}} </td></tr>
    	<tr>
    		<td align="center"> Median, High </td>
    		<td align="center"> Yes </td><td align="center"> {{Constants.t_M_MH}} </td></tr>
    	<tr>
    		<td align="center"> High, High </td>
    		<td align="center"> Yes </td><td align="center"> {{Constants.t_M_HH}} </td></tr> 
    		
    	<tr><td align="center" rowspan="6"> High </td>
    		<td align="center"> Low, Low </td>
    		<td align="center"> Yes </td><td align="center"> {{Constants.t_H_LL}} </td></tr>
    	<tr>
    		<td align="center"> Low, Median </td>
    		<td align="center"> Yes </td><td align="center"> {{Constants.t_H_LM}} </td></tr>
    	<tr>
    		<td align="center"> Low, High </td>
    		<td align="center"> Yes </td><td align="center"> {{Constants.t_H_LH}} </td></tr>
    	<tr>
    		<td align="center"> Median, Median </td>
    		<td align="center"> Yes </td><td align="center"> {{Constants.t_H_MM}} </td></tr>
    	<tr>
    		<td align="center"> Median, High </td>
    		<td align="center"> Yes </td><td align="center"> {{Constants.t_H_MH}} </td></tr>
    	<tr>
    		<td align="center"> High, High </td>
    		<td align="center"> Yes </td><td align="center"> {{Constants.t_H_HH}} </td></tr>    		
    </table>
    <p>
    	If the gadget is not purchased, everyone's payoff is 0.
    </P>
    <p>
    	If the gadget is purchased, everyone will become a user. User's payoff is calculated as (in points) <br/>
    	<strong>
    		User's payoff = His/her private value of the gadget - His/her payment depending on all reports
    	</strong><br/>
    </p>
    <p>
    	Note that all private values are assigned randomly and fixed, while the reports are choices made by the group members.
    </p>
    <p>
    For your convenience, these instructions will remain available to you on all subsequent screens of this study.
    </p>
</div>
