{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Contribute
{% endblock %}

{% block content %}
	<table>
		<tr>
			<td>Round number:</td>
			<td>{{ subsession.round_number }} / {{ Constants.num_rounds }}</td>
		</tr>
	</table>
	<tr><td colspan="2"><hr/></td></tr>
	
	<p>
		The cost of the gadget is <strong>{{ Constants.cost }}</strong>.
	</p>


    <p>
        Your value to the gadget is <strong>{{ player.private_value }}</strong>.
		
    </p>

    <p>
        To become a member, you need to contribute at least <strong>{{ Constants.reserve }}</strong>.
    </p>
	
    {% formfield player.contribution with label="How much will you contribute to the project (in proportion to the total cost)?"%}

    {% next_button %}

	{% include 'proportional_cost_sharing/Instruction.html' %}

{% endblock %}
