<div class="box effect7">
    <h4>Instructions</h4>
    <p>
        In this study, you will be in a randomly formed group of {{ Constants.players_per_group }} participants. Your group must decide whether or not to purchase a fictitious good, called a gadget, and exactly which members of your group are allowed to use the gadget. 
    </p>
    <p>
        For your group to purchase a gadget, your group must pay a total of {{ Constants.cost }}. To determine whether your group buys the gadget, every member of the group will simultaneously submit a message. Every participant must choose to contribute an integer greater than or equal to 21. If you contribute less than 21, you will be excluded from using the gadget and become a nonuser no matter the gadget is purchased or not.
    </P>
    <p>
    	The messages are used to determine whether your group buys the gadget. If the sum of the contributions that are greater than or equal to 21 exceeds the total cost {{ Constants.cost }}, the gadget is purchased and all participants with contributions greater than or equal to 21 are users. Each user shares a proportion (<strong>his/her own contribution over the total user contribution</strong>) of the total cost. If you are a user, additionally, for each other user contributing more than you do, you pay them 1 point after the provision. Similarly, for each other user contributing less than you do, you gain 1 point from them after the provision. Nonuser pays nothing and don't get the access to the gadget. 
    </p>
    <p>
    	If the sum of the contributions is less than the total cost {{ Constants.cost }}, the gadget is not purchased. All participants pay nothing and don't get access to the gadget.  
    </p> 
    <p>
    	Before making any decision, you will learn the user value of the gadget to you. The value of the gadget may differ from participant to participant and is randomly and independently drawn from {{ Constants.valuation }} for each participant. Notice that no one else in your group knows your user value and you do not know the user value of anyone else in your group.
    </p>
    <p>
    	If the gadget is not purchased, all participants are nonusers. If the gadget is purchased, those participants who contribute more than or equal to 21 are users and those who contribute less than 21 are nonusers.
    </p>
    <p>
    	<strong>Nonuser's payoff</strong> is always 0 since their contribution doesn't count and receives nothing. 
    </p>
    <p>
    	If the gadget is purchased, the user's payoff is calculated as (in points) <br/>
    	<strong>
    		User's payoff = His or her private value of the gadget - Total cost of the gadget *(His or her contribution / Total user contribution) - transfer to other users who contribute more + transfer from other users who contribute less
    	</strong><br/>
    </p>
    <p>
    	Note that the "Total user contribution" is the sum of contributions from all users (who contribute more than or equal to 21) and can exceed the "Total cost".
    </p>
    <p>
    For your convenience, these instructions will remain available to you on all subsequent screens of this study.
    </p>
</div>
