<div class="box effect7">
    <h4>Instructions</h4>
    <p>
        In this study, you will be in a randomly formed group of {{ Constants.players_per_group }} participants. Your group must decide whether or not to purchase a fictitious good, called a gadget, and exactly which members of your group are allowed to use the gadget. 
        For your group to purchase a gadget, your group must pay a total of {{ Constants.cost }}. It is possible that not everyone in your group is allowed to use the gadget. Those members of your group who are allowed to use the gadget are called users and pay an equal share of the cost. Those members of your group who are not allowed to use the gadget are called nonusers and to not pay any share of the cost. 
        Therefore, if all members are users, the cost is split three ways, so each member pays 34 points. If only two members are users, the cost is split two ways, and each of two users pay 51 points, and if only one member is a user, then this user pays the entire {{ Constants.cost }}.
    </p>
    <p>
    For your convenience, these instructions will remain available to you on all subsequent screens of this study.
    </p>
</div>
